# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
venv/

# Environment secrets
backend/.env

# OS/IDE
.DS_Store
Thumbs.db
.vscode/

# Logs & backups
*.log
*.sql
*.dump

# Misc
*.pid